.cell {
	border: 1px solid black;
	height: 100px;
	width: 100px;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
	cursor: pointer;
}

.cell:hover {
	background-color: lightgrey;
}

.player1 {
	color: red;
}

.player2 {
	color: blue;
}

  
  #restart-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
  }
  
  #restart-btn:hover {
    background-color: #004165;
  }
  
h1 {
  text-align: center;
}